<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Polygon Generator</title>
</head>
<body>
    <script type="text/x-template" id="star-template">
        <svg width="500" height="250">
            <g>
                <polygon :points="pointToString" class="polygon"/>
                <point-label 
                    v-for="point in points"
                    :point="point">
                </point-label>
            </g>
        </svg>
    </script>

    <script type="text/x-template" id="label-template">
        <text :x="point.x" :y="point.y" fill="blue" stroke="blue">{{point.label}}</text>
    </script>
    
    <div id="main" class="container mt-5">
        <div class="toast" id="myToast" style="position: absolute; top: 3rem; right: 3rem;">
        <div class="toast-header">
            <svg class="bi bi-exclamation-circle-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM8 4a.905.905 0 00-.9.995l.35 3.507a.552.552 0 001.1 0l.35-3.507A.905.905 0 008 4zm.002 6a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"/>
            </svg>
            <strong class="mr-auto"><i class="fa fa-grav"></i>&nbsp;Error</strong>
            <small></small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            <div>Un polígono debe tener al menos tres lados</div>
        </div>
    </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <my-polygon :points="points"></my-polygon>
            </div>
        </div>
        <br><br>
        <div class="row justify-content-between">
            <div class="col-md-6">
                <table class="table table-sm">
                    <thead class="thead-light text-center">
                        <tr>
                            <th scope="col">Etiqueta</th>
                            <th scope="col">X</th>
                            <th scope="col">Y</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr v-for="point in points">
                            <td scope="row">{{point.label}}</td>
                            <td><input type="range" class="custom-range" min="0" max="500" v-model="point.x"></td>
                            <td><input type="range" class="custom-range" min="0" max="250" v-model="point.y"></td>
                            <td><button @click="remove(point)" class="btn btn-danger btn-sm">X</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-5">
                <legend>Nuevo punto</legend>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="label">Etiqueta</label>
                            <input id="label" type="text" class="form-control" placeholder="Nombre de etiqueta" v-model="newPoint.label">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="axis-x">Valor de X</label>
                            <input type="range" class="custom-range" min="0" max="500" v-model="newPoint.x" id="axis-x">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="axis-y">Valor de Y</label>
                            <input type="range" class="custom-range" min="0" max="250" v-model="newPoint.y">
                        </div>
                        <button class="btn btn-primary btn-block" @click="add">Agregar punto</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
    <script src="script.js"></script>
</body>
</html>
